@import "tailwindcss";

@theme {
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
}

:root {
  --bg: #f4f4f0;
  --black: #000000;
  --pink: #ff90e8;
  --yellow: #ffda58;
  --green: #05a35a;
  --brutal-shadow: 4px 4px 0px 0px #000000;
}

body {
  background-color: var(--bg);
  color: var(--black);
}

.dot-grid {
  background-image: radial-gradient(var(--black) 1px, transparent 0);
  background-size: 24px 24px;
}
